
.container-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.box-top {
    background-color: rgb(162, 162, 253);
    color: black;
    font-weight: bold;
    width: 760px;
    height: 100px;
    margin: 1px;
    padding: 25px;
    border: 5px solid black;
}

.box-body {
    background-color: rgb(183, 183, 252);
    color: black;
    font-weight: bold;
    width: 350px;
    height: 150px;
    margin: 1px;
    padding: 25px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-down {
    background-color: rgb(211, 211, 252);
    color: black;
    font-weight: bold;
    width: 350px;
    height: 300px;
    margin: 1px;
    padding: 25px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-inside1 {
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 50px;
    margin: 3px;
    padding: 8px;
    border: 2px solid black;
}

.box-inside2 {
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 115px;
    margin: 3px;
    padding: 10px;
    border: 2px solid black;
}

.wraper {
    background-color: rgb(232, 232, 253);
    width: 760px;
    height: 200px;
    margin: 1px;
    padding: 25px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 500px;
    
}
