   
.header {
    background-color: rgb(162, 162, 255);
    color: black;
    font-weight: bold;
}

.nav {
    background-color: rgb(148, 148, 148);
    color: black;
    font-weight: bold;
}

.section {
    background-color: rgb(180, 243, 7);
    color: black;
    font-weight: bold;
}

.footer {
    background-color: rgb(135, 135, 248);
    color: black;
    font-weight: bold;
}

