#voltar {
    background-color: #474747;     
    color: white;                  
    border: none;                  
    border-radius: 8px;            
    padding: 8px 15px;            
    font-size: 16px;               
    cursor: pointer;                
    transition: background-color 0.3s, transform 0.2s; 
}

#voltar:hover {
    background-color: #000000;     
    transform: scale(1.05);       
}
